# Global owner
* @Priestytheplushie

# Eventing scripts
/scripts/ @Priestytheplushie

# Art assets (if you have a team)
# /img/ @PriestyStudios/art-team

# Plugin management (for custom JavaScript plugins)
/plugins/ @Priestytheplushie
